@mixin spinkit-sizes($primary-stylename: $sk-primary-stylename) {

     %sk-default-width { width: $sk-default-size }
     %sk-xs-width { width: $sk-xs-size }
     %sk-sm-width { width: $sk-sm-size }
     %sk-md-width { width: $sk-md-size }
     %sk-lg-width { width: $sk-lg-size }
     %sk-xl-width { width: $sk-xl-size }

     %sk-default-height { height: $sk-default-size }
     %sk-xs-height { height: $sk-xs-size }
     %sk-sm-height { height: $sk-sm-size }
     %sk-md-height { height: $sk-md-size }
     %sk-lg-height { height: $sk-lg-size }
     %sk-xl-height { height: $sk-xl-size }
     %sk-no-vmargin {
       margin-top: $sk-no-margin;
       margin-bottom: $sk-no-margin;
     }
     %sk-no-hmargin {
       margin-left: $sk-no-margin;
       margin-right: $sk-no-margin;
     }

    .#{$primary-stylename} {

        vertical-align: $sk-vertical-align;
        display: $sk-display;
        @extend %sk-default-width;
        @extend %sk-default-height;
        @extend %sk-no-vmargin;
        @extend %sk-no-hmargin;


        //.#{$primary-stylename}-default { @extend %sk-default-width; @extend .sk-default-height }
        &.#{$primary-stylename}-default { @extend %sk-default-width; @extend %sk-default-height; }
        &.#{$primary-stylename}-xs { @extend %sk-xs-width; @extend %sk-xs-height }
        &.#{$primary-stylename}-sm { @extend %sk-sm-width; @extend %sk-sm-height }
        &.#{$primary-stylename}-md { @extend %sk-md-width; @extend %sk-md-height }
        &.#{$primary-stylename}-lg { @extend %sk-lg-width; @extend %sk-lg-height }
        &.#{$primary-stylename}-xl { @extend %sk-xl-width; @extend %sk-xl-height }

        &.#{$primary-stylename}-no-margin { margin: $sk-no-margin }
        // Force "block" to allow the spinner to be centered in its container.
        &.#{$primary-stylename}-auto-margin { margin: $sk-auto-margin; display: block }
        &.#{$primary-stylename}-xs-margin { margin: $sk-xs-margin }
        &.#{$primary-stylename}-sm-margin { margin: $sk-sm-margin }
        &.#{$primary-stylename}-md-margin { margin: $sk-md-margin }
        &.#{$primary-stylename}-lg-margin { margin: $sk-lg-margin }
        &.#{$primary-stylename}-xl-margin { margin: $sk-xl-margin }

        &.#{$primary-stylename}-auto-vmargin {
          margin-top: $sk-auto-margin;
          margin-bottom: $sk-auto-margin;
        }
        &.#{$primary-stylename}-xs-vmargin {
          margin-top: $sk-xs-margin;
          margin-bottom: $sk-xs-margin;
        }
        &.#{$primary-stylename}-lg-vmargin {
          margin-top: $sk-lg-margin;
          margin-bottom: $sk-lg-margin;
        }
        &.#{$primary-stylename}-xl-vmargin {
          margin-top: $sk-xl-margin;
          margin-bottom: $sk-xl-margin;
        }

        &.#{$primary-stylename}-auto-hmargin {
          margin-left: $sk-auto-margin;
          margin-right: $sk-auto-margin;
          // Force "block" to allow the spinner to be centered in its container.
          display: block;
        }
        &.#{$primary-stylename}-xs-hmargin {
          margin-left: $sk-xs-margin;
          margin-right: $sk-xs-margin;
        }
        &.#{$primary-stylename}-sm-hmargin {
          margin-left: $sk-sm-margin;
          margin-right: $sk-sm-margin;
        }
        &.#{$primary-stylename}-md-hmargin {
          margin-left: $sk-md-margin;
          margin-right: $sk-md-margin;
        }
        &.#{$primary-stylename}-lg-hmargin {
          margin-left: $sk-lg-margin;
          margin-right: $sk-lg-margin;
        }
        &.#{$primary-stylename}-xl-hmargin {
          margin-left: $sk-xl-margin;
          margin-right: $sk-xl-margin;
        }
    }
}
