$spinkit-spinner-margin: 40px auto !default;
$spinkit-size: 40px !default;
$spinkit-spinner-color: #333 !default;
$spinkit-included-spinners:
    rotating-plane,
    double-bounce,
    wave,
    wandering-cubes,
    pulse,
    chasing-dots,
    three-bounce,
    circle,
    cube-grid,
    fading-circle,
    folding-cube !default;

@function spinkit-is-included ($spinner-name, $is-included: $spinkit-included-spinners) {
  @return contains($is-included, $spinner-name);
}