/*
 *  Usage:
 *
      <div class="sk-rotating-plane"></div>
 *
 */
@include keyframes(sk-rotatePlane) {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

$sk-rotating-plane-animation-duration: 1.2s !default;

@mixin sk-rotating-plane($primary-stylename: $spinkit-primary-stylename,
  $animation-duration: $sk-rotating-plane-animation-duration) {
  .#{$primary-stylename}.sk-rotating-plane {
    width: $spinkit-size;
    height: $spinkit-size;
    background-color: $spinkit-spinner-color;
    margin: $spinkit-spinner-margin;
    @include animation(sk-rotatePlane $animation-duration infinite ease-in-out);
  }
}