/*
 *  Usage:
 *
      <div class="sk-wandering-cubes">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
      </div>
 *
 */

$sk-wandering-cubes-cube-distance: 90% !default;
$sk-wandering-cubes-animation-duration: 1.8s !default;
$sk-wandering-cubes-cube-size: 28% !default;

@mixin sk-wandering-cubes($primary-stylename: spinkit,
  $animation-duration: $sk-wandering-cubes-animation-duration,
  $cube-size: $sk-wandering-cubes-cube-size
) {
.#{$primary-stylename}.sk-wandering-cubes {

  margin: $spinkit-spinner-margin;
  width: $spinkit-size;
  height: $spinkit-size;
  position: relative;

  .sk-cube {
    position: absolute;
    width: 100%;
    height: 100%;
    @include animation(sk-wanderingCube-xy $animation-duration ease-in-out #{-$animation-duration} infinite both);
  }

  .sk-cube:before {
    content: "";
    background-color: $spinkit-spinner-color;
    width: $cube-size;
    height: $cube-size;
    position: absolute;
    top: 0;
    left: 0;
    @include animation(sk-wanderingCube $animation-duration ease-in-out #{-$animation-duration} infinite both);
  }

  .sk-cube2 {
    @include animation-delay(-$animation-duration / 2);
  }
}
}

@include keyframes(sk-wanderingCube) {
  0% {
    transform: rotate(0deg);
  } 25% {
    transform: rotate(-90deg) scale(0.5);
  } 50% {
    /* Hack to make FF rotate in the right direction */
    transform: rotate(-179deg);
  } 50.1% {
    transform: rotate(-180deg);
  } 75% {
    transform: rotate(-270deg) scale(0.5);
  } 100% {
    transform: rotate(-360deg);
  }
}

@include keyframes(sk-wanderingCube-xy) {
  25% {
    transform: translateX($sk-wandering-cubes-cube-distance);
  } 50% {
    /* Hack to make FF rotate in the right direction */
    transform: translateX($sk-wandering-cubes-cube-distance) translateY($sk-wandering-cubes-cube-distance);
  } 50.1% {
    transform: translateX($sk-wandering-cubes-cube-distance) translateY($sk-wandering-cubes-cube-distance);
  } 75% {
    transform: translateX(0) translateY($sk-wandering-cubes-cube-distance);
  }
}


