/*
 *  Usage:
 *
      <div class="sk-spinner sk-spinner-pulse"></div>
 *
 */

$sk-spinner-pulse-animation-duration: 1.0s !default;

@mixin sk-spinner-pulse($primary-stylename: $sk-primary-stylename,
                          $animation-duration: $sk-spinner-pulse-animation-duration) {
.#{$primary-stylename}.sk-spinner-pulse {
  background-color: $sk-spinner-color;
  border-radius: 100%;
  @include animation(sk-pulseScaleOut $animation-duration infinite ease-in-out);
}

}
@keyframes sk-pulseScaleOut {
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}
