/*
 *  Usage:
 *
      <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
      </div>
 *
 */

$sk-three-bounce-animation-duration: 1.4s !default;

@mixin sk-three-bounce($primary-stylename: $spinkit-primary-stylename,
    $animation-duration: $sk-three-bounce-animation-duration) {
.#{$primary-stylename}.sk-three-bounce {

  $delayRange: $animation-duration / 4.38;
  margin: $spinkit-spinner-margin;
  width: $spinkit-size * 2;
  text-align: center;

  .sk-child {
    width: 50%;
    height: 50%;
    background-color: $spinkit-spinner-color;

    border-radius: 100%;
    display: inline-block;
    @include animation(sk-three-bounce $animation-duration ease-in-out 0s infinite both);
  }

  .sk-bounce1 { @include animation-delay(-$delayRange); }
  .sk-bounce2 { @include animation-delay(-$delayRange / 2); }
}

}
@keyframes sk-three-bounce {
  0%, 80%, 100% {
    transform: scale(0);
  } 40% {
    transform: scale(1.0);
  }
}
