@import "addons.scss";
@import "../valo/valo.scss";

$gray: #d1d1cf;
$green: #40b527;
$darkgreen: darken($green, 30%);

// Prefix all selectors in your theme with .demo
.demo {

	@include addons;
	// Include valo theme styles in your theme
	@include valo;

	// You can style your demo app right here
	.demoContentLayout {
		background-color: $gray;
		background-image: url(images/radial-gradient.png);
		background-size: 90%;
		background-position: center center;
		background-repeat: no-repeat;
	}


    // Custom spinners
	$sk-spinner-color: $green;
	$sk-primary-stylename: greenspin;
	@include spinkit;

    $sk-spinner-color: pink;
    @include sk-double-bounce(greenspin,  0.2, 10.0s);

}
