@import "addons.scss";
@import "../valo/valo.scss";

$gray: #d1d1cf;
$green: #40b527;
$darkgreen: darken($green, 30%);

// Prefix all selectors in your theme with .demo
.demo {

	@include addons;
	// Include valo theme styles in your theme
	@include valo;

	// You can style your demo app right here
	.demoContentLayout {
		background-color: $gray;
		background-image: url(images/radial-gradient.png);
		background-size: 90%;
		background-position: center center;
		background-repeat: no-repeat;
	}

	$spinkit-spinner-color: $green;
	$spinkit-primary-stylename: greenspin;

	@include spinkit-spinners;
	/*
	@include sk-wandering-cubes($primary-stylename: greenspin);
	@include sk-rotating-plane($primary-stylename: greenspin);
	@include sk-double-bounce($primary-stylename: greenspin);
	@include sk-wave($primary-stylename: greenspin);
	@include sk-spinner-pulse($primary-stylename: greenspin);
	@include sk-chasing-dots($primary-stylename: greenspin);
	@include sk-three-bounce($primary-stylename: greenspin);
    */

}
